@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;

  /* box-sizing: border-box; */
  /* text-align: center; */
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(179, 237, 255);
}


.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/sciencelightbg.png");
  background-size: 100% 100%;
  background-color: #341f97;
}

.welcome_text {
  margin-top: 5%;
  width: 35%;
  /* margin-left: 5%; */
  padding: 2%;
  font-size: large;
  text-align: center;
}

.welcome_text>p {
  font-size: x-large;
  margin-top: 5%;
}

.start {
  width: 100px;
  height: 5vh;
  font-size: 23px;
  text-align: center;
  background-color: #102029;
  color: white;
  padding: 0% 2%;
  margin-top: 5%;
  outline: none;
  border: #249DDC;
  border-radius: 3px;
}

.start>img {
  width: 20%;
  margin-left: 10%;
}

.quiz {
  display: grid;
  width: 600px;
  height: 500px;
  margin-left: 5%;
}

.quiz_body {
  background-color: transparent;

}

.option_group {
  list-style-type: none;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 30% 30%;
}

.option {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  width: 170px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.option:hover {
  cursor: pointer;
  border: 1px solid #000000;
}

.option.active {
  background-color: #000000;
  color: #fff;
}

.btn-next {
  width: 20%;
  border: none;
  margin-top: 10%;
  padding: 2%;
  font-size: x-large;
  background-color: #0f2835;
  color: #fff;
  border-radius: 3px;
}

.btn-next>img {
  width: 12%;
  margin-left: 15%;
}

.result {
  margin-left: 5%;
  width: 40%;
}

.result>h2 {
  font-size: 28px;
  line-height: 30px;

}

.result>p {
  font-size: 28px;
  line-height: 35px;
  margin-top: 2%;
}

.result>button {
  width: 100px;
  height: 100px;
  font-size: 36px;
  text-align: center;
  margin-top: 2%;
  background-color: #249DDC;
  color: white;
  outline: none;
  border: #249DDC;
  border-radius: 3
}

#answerkeyb {
  width: 100px;
  height: 50px;
  background-color: rgb(229, 107, 253);
  color: black;
}

#eng {
  display: flex;
  flex-wrap: wrap;
}